@import url('style.css');

.fullscreen-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #253130;
  align-items: center;
  /* opacity: 0.7; */
  z-index: -1;
  visibility: hidden;
}

.fullscreen-overlay.open {
  z-index: 998;
  visibility: visible;
}

.shard-selection {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Responsive Size: 60% of the screen's smallest side */
  width: 38vmin; 
  height: 38vmin;
}

#title-content {
  width: 100%;
  margin: auto;
  text-align: center;
  align-self: center;
  flex: none;

  h1 {
    letter-spacing: .1em;
    font-size: 1em;
    margin-bottom: 4px;
    color: inherit;
  }

  h2 {
    background: url("../assets/repeat-white.png") center center / 80px 60px repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: scratchy 0.253s linear forwards infinite;
    -moz-animation: scratchy 0.253s linear forwards infinite;
    animation: scratchy 0.253s linear forwards infinite;
    letter-spacing: .05em;
    line-height: 0.9;
    opacity: 0.9;
    font-size: 2.6em;
    white-space: wrap;
  }

  h3 {
    color: #7e8483;
    font-size: 0.8em;
    letter-spacing: .2em;
    margin-top: 6px;
  }

  h3 span {
    color: #5e6260;
    margin-left: 8px;
  }
}

#title-content.general {
  h1 {
    color: var(--lime);
    font-size: 1.2em;
    margin-bottom: 6px;
    letter-spacing: .08em;
  }

  h2 {
    font-size: 3.2em;
  }

  h3 {
    font-size: 1.25em;
    letter-spacing: .1em;
    margin-top: 10px;
    color: #5a706d;
  }
}


#orbit {
  position: absolute;
  top: 50%;
  left: 50%;

  /* Responsive Size: 60% of the screen's smallest side */
  width: 70vmin; 
  height: 70vmin;
  transform: translate(-50%, -50%);
  /* animation: slowSpin 100s linear infinite; */
  z-index: 1001;
}

#orbit.hidden {
  z-index: -1;
  visibility: hidden;
}

.dot {
  position: absolute;
  top: 44%;
  left: 44%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 0px solid;
  transition: all 0.5s;
  cursor: pointer;
  transition: border-width 0.2s ease-in-out;
}

.dot:hover {
  border: 1px solid;

  .inner-dot {
    opacity: 0.9;
  }
}

.inner-dot {
  position: absolute;
  top: 44%;
  left: 44%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  transition: opacity 0.5s ease-in-out
}

.dot:nth-child(1)  { transform: rotate(36deg)  translate(30vmin); }
.dot:nth-child(2)  { transform: rotate(72deg)  translate(27vmin); }
.dot:nth-child(3)  { transform: rotate(108deg) translate(27vmin); }
.dot:nth-child(4)  { transform: rotate(144deg) translate(27vmin); }
.dot:nth-child(5)  { transform: rotate(180deg) translate(27vmin); }
.dot:nth-child(6)  { transform: rotate(216deg) translate(27vmin); }
.dot:nth-child(7)  { transform: rotate(252deg) translate(27vmin); }
.dot:nth-child(8)  { transform: rotate(288deg) translate(27vmin); }
.dot:nth-child(9)  { transform: rotate(324deg) translate(27vmin); }
.dot:nth-child(10) { transform: rotate(360deg) translate(27vmin); }

.galaxy-spin {
  animation: slowSpin 60s linear infinite;
}

.galaxy-spin.paused {
  animation-play-state: paused;
}


@media only screen and (max-width:800px) {
  .dot {
    width: 48px;
    height: 48px;
  }
}

@media only screen and (max-width:700px) {
  .dot {
    width: 42px;
    height: 42px;
  }
}

/* The infinite orbit animation */
@keyframes slowSpin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(360deg); }
}

@-webkit-keyframes scratchy {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 0 0; }
  26% {
    background-position: 20px -20px; }
  50% {
    background-position: 20px -20px; }
  51% {
    background-position: 40px -40px; }
  75% {
    background-position: 40px -40px; }
  76% {
    background-position: 60px -60px; }
  99% {
    background-position: 60px -60px; }
  100% {
    background-position: 0 0; } }
    
@-moz-keyframes scratchy {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 0 0; }
  26% {
    background-position: 20px -20px; }
  50% {
    background-position: 20px -20px; }
  51% {
    background-position: 40px -40px; }
  75% {
    background-position: 40px -40px; }
  76% {
    background-position: 60px -60px; }
  99% {
    background-position: 60px -60px; }
  100% {
    background-position: 0 0; } }
    
@keyframes scratchy {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 0 0; }
  26% {
    background-position: 20px -20px; }
  50% {
    background-position: 20px -20px; }
  51% {
    background-position: 40px -40px; }
  75% {
    background-position: 40px -40px; }
  76% {
    background-position: 60px -60px; }
  99% {
    background-position: 60px -60px; }
  100% {
    background-position: 0 0; } }