@import './assets/fonts/fonts.css';

body {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Bloc' sans-serif;
  line-height: 1.5;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: aquamarine;
}

.shard-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.shard {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  -webkit-clip-path: polygon(15.1% 69.071%, 18% 56.929%, 20% 74.5%);
  clip-path: polygon(15.1% 69.071%, 18% 56.929%, 20% 74.5%);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}